body{
    height: 100%;
    width: 100%;
   
}
.container{
    display: flex;
   height: 70%;
   width: 97%;
   justify-content:space-around;
   /* align-items: center; */
   text-align: center;
   


}
.card{
   /* height: 80%; */
   position: relative;
    margin-left: 30px;
    margin-top: 30px;
    justify-content:center;
    align-items: center; 
    transition: 300ms ease-out;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
    border-radius: 5%;
    display: flex;
    
}

.img-1{
    width: 100%;
    height: 100%;
    border-radius: 5%;
    object-fit: cover;
}
.card:hover {
    transform: translateY(15px);
   
}
.card:before{
   position:absolute;
   content:" ";
    width: 100%;
    height: 100%;
    background: #342ead;
    z-index: 1;
    left: 0;
    top: 0;
    border-radius: 5%;
    opacity: 0;

}
.card .info{
    position: absolute;
   width: 100%;
   font-family: 'Courier New', Courier, monospace;
   z-index: 3;
   opacity: 0;
   color: black;
   font-weight: 700;
   transition: 400ms all;
}
.card:hover:before{
      opacity: 0.2;
}
.card:hover .info{
    opacity: 1;
}
.card .info h1{
    color: blanchedalmond;
}
.card .info p{
    letter-spacing: 1px;
    font-size: 20px;
    line-height: 1;
    color: blanchedalmond;
}
/* display: flex and position : absolute  */